# Tutorial 8 - Calculating Option Payoffs

The purpose of this short tutorial is to apply our knowledge of functions and flow control to a simple finance task: calculating the payoff of an expiring option.

## Loading Packages

Let's load the packages that we will need.

In [2]:
import numpy as np
import pandas as pd

## Reading-In Data

Next, let's read in a data file called `spy_expiring_option.csv`. 

This data set consists of 21 different options on `SPY` that expire on November 16, 2018.  


The `upx` column is the settle price of `SPY` from that day, and it will be used to calculate the payoff of each of these options.

In [4]:
df_opt = pd.read_csv("../data/spy_expiring_option.csv")
df_opt.head()

  underlying         upx type  expiration   data_date  strike
0        SPY  273.730011  put  2018-11-16  2018-11-16   270.0
1        SPY  273.730011  put  2018-11-16  2018-11-16   270.5
2        SPY  273.730011  put  2018-11-16  2018-11-16   271.0
3        SPY  273.730011  put  2018-11-16  2018-11-16   271.5
4        SPY  273.730011  put  2018-11-16  2018-11-16   272.0

## Initializing Payoff Column

Our ultimate objective of this tutorial is to add a `payoff` column to `df_opt`, and have that column consists of the option payoffs.

As a first step, let's add the column to `df_opt` and then initialize it with `NaN`, which is a special data type that represents missing numerical data.

In [3]:
df_opt['payoff'] = np.nan
df_opt.head()

  underlying         upx type  expiration   data_date  strike  payoff
0        SPY  273.730011  put  2018-11-16  2018-11-16   270.0     NaN
1        SPY  273.730011  put  2018-11-16  2018-11-16   270.5     NaN
2        SPY  273.730011  put  2018-11-16  2018-11-16   271.0     NaN
3        SPY  273.730011  put  2018-11-16  2018-11-16   271.5     NaN
4        SPY  273.730011  put  2018-11-16  2018-11-16   272.0     NaN

## Defining Payoff Function

In the previous tutorial we defined an option payoff function.  Let's recycle our code here:

In [5]:
def option_payoff(cp, strike, upx):
    if cp == "call":
        payoff = max(upx - strike, 0)
    elif cp == "put":
        payoff = max(strike - upx, 0)
    
    return payoff

Whenever I create a function, I like to test it out on a few values to make sure that it works as I expect.

In [7]:
print(option_payoff("call", 100, 150))
print(option_payoff('put', 100, 150))

50
0

## Applying `option_payoff` to each Row of `df_opt`

In [10]:
for ix in df_opt.index:
    
    # grabbing data from dataframe
    opt_type = df_opt.at[ix, 'type']
    strike = df_opt.at[ix, 'strike']
    upx = df_opt.at[ix, 'upx']
    
    # calculating payoff
    payoff = option_payoff(opt_type, strike, upx)
    
    # putting payoff in dataframe
    df_opt.at[ix, 'payoff'] = payoff
    
    
df_opt

   underlying         upx  type  expiration   data_date  strike    payoff
0         SPY  273.730011   put  2018-11-16  2018-11-16   270.0  0.000000
1         SPY  273.730011   put  2018-11-16  2018-11-16   270.5  0.000000
2         SPY  273.730011   put  2018-11-16  2018-11-16   271.0  0.000000
3         SPY  273.730011   put  2018-11-16  2018-11-16   271.5  0.000000
4         SPY  273.730011   put  2018-11-16  2018-11-16   272.0  0.000000
5         SPY  273.730011   put  2018-11-16  2018-11-16   272.5  0.000000
6         SPY  273.730011   put  2018-11-16  2018-11-16   273.0  0.000000
7         SPY  273.730011   put  2018-11-16  2018-11-16   273.5  0.000000
8         SPY  273.730011   put  2018-11-16  2018-11-16   274.0  0.269989
9         SPY  273.730011   put  2018-11-16  2018-11-16   274.5  0.769989
10        SPY  273.730011   put  2018-11-16  2018-11-16   275.0  1.269989
11        SPY  273.730011   put  2018-11-16  2018-11-16   275.5  1.769989
12        SPY  273.730011   put  2018-11-16  2018-11-16   276.0  2.269989
13        SPY  273.730011   put  2018-11-16  2018-11-16   276.5  2.769989
14        SPY  273.730011   put  2018-11-16  2018-11-16   277.0  3.269989
15        SPY  273.730011   put  2018-11-16  2018-11-16   277.5  3.769989
16        SPY  273.730011  call  2018-11-16  2018-11-16   278.0  0.000000
17        SPY  273.730011  call  2018-11-16  2018-11-16   278.5  0.000000
18        SPY  273.730011  call  2018-11-16  2018-11-16   279.0  0.000000
19        SPY  273.730011  call  2018-11-16  2018-11-16   279.5  0.000000
20        SPY  273.730011  call  2018-11-16  2018-11-16   280.0  0.000000

## Related Reading

*WTP* - 8 - Control Flow

*WTP* - 9 - Defining Functions

*LOD* - 2 - Options 101