This is the notebook that I used to prototype this function.

Notebooks are great for this, especially if your functions involve `DataFrames`.

That's why it's nice to use an IDE that has Notebook support.

In [12]:
import pandas_datareader as pdr
import numpy as np

In [15]:
df_all = pdr.get_data_yahoo('SPY', start='2018-12-01', end='2019-01-01')

In [20]:
df_close = df_all[['Close']].copy()

In [22]:
df_close['Close'] = np.round(df_close['Close'], 2)

In [23]:
df_close

             Close
Date
2018-12-03  279.30
2018-12-04  270.25
2018-12-06  269.84
2018-12-07  263.57
2018-12-10  264.07
2018-12-11  264.13
2018-12-12  265.46
2018-12-13  265.37
2018-12-14  260.47
2018-12-17  255.36
2018-12-18  255.08
2018-12-19  251.26
2018-12-20  247.17
2018-12-21  240.70
2018-12-24  234.34
2018-12-26  246.18
2018-12-27  248.07
2018-12-28  247.75
2018-12-31  249.92
2019-01-02  250.18