# Prototyping Code for `backtest_py`

In [37]:
import numpy as np
import pandas as pd
import base64
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
      host="localhost",
      user="root",
      passwd="password"
    )

In [3]:
str_sql = ("SELECT * from delta_neutral.option_price where DataDate='2019-03-22' and Expiration='2019-03-29' and UnderlyingSymbol='SPY';")

In [4]:
df_mysql = pd.read_sql(str_sql, con=mydb)

In [5]:
df_mysql.head()

,UnderlyingSymbol,UnderlyingPrice,Flags,OptionSymbol,Type,Expiration,DataDate,Strike,Last,Bid,...,OpenInterest,T1OpenInterest,IVMean,IVBid,IVAsk,Delta,Gamma,Theta,Vega,AKA
0,SPY,279.34,*,SPY190329C00125000,call,2019-03-29,2019-03-22,125.0,0.0,154.74,...,0,0,2.9779,2.7908,3.1650,0.9877,0.0003,-104.079,1.1752,SPY190329C00125000\r
1,SPY,279.34,*,SPY190329P00125000,put,2019-03-29,2019-03-22,125.0,0.0,0.00,...,0,0,0.2550,0.0000,1.9310,0.0000,0.0000,0.000,0.0000,SPY190329P00125000\r
2,SPY,279.34,*,SPY190329C00130000,call,2019-03-29,2019-03-22,130.0,0.0,149.75,...,0,0,2.8485,2.6739,3.0231,0.9870,0.0003,-104.211,1.2286,SPY190329C00130000\r
3,SPY,279.34,*,SPY190329P00130000,put,2019-03-29,2019-03-22,130.0,0.0,0.00,...,0,0,0.2550,0.0000,1.8411,0.0000,0.0000,0.000,0.0000,SPY190329P00130000\r
4,SPY,279.34,*,SPY190329C00135000,call,2019-03-29,2019-03-22,135.0,0.0,144.75,...,0,0,2.7191,2.5513,2.8870,0.9865,0.0003,-103.420,1.2753,SPY190329C00135000\r

In [6]:
df_mysql['Mid'] = (df_mysql['Bid'] + df_mysql['Ask']) / 2

In [7]:
lst_col = ['UnderlyingSymbol', 'UnderlyingPrice', 'Type', 'Expiration', 'DataDate', 
           'Strike', 'Bid' , 'Ask', 'Mid', 'Volume', 'OpenInterest', 'T1OpenInterest', 'IVMean']
df_mysql = df_mysql[lst_col]

In [8]:
df_mysql.columns

Index(['UnderlyingSymbol', 'UnderlyingPrice', 'Type', 'Expiration', 'DataDate',
       'Strike', 'Bid', 'Ask', 'Mid', 'Volume', 'OpenInterest',
       'T1OpenInterest', 'IVMean'],
      dtype='object')

In [10]:
dct_rename = {'UnderlyingSymbol':'underlying_symbol'
              , 'UnderlyingPrice':'underlying_price'
              , 'Type':'type', 'Expiration':'expiration'
              , 'DataDate':'data_date', 'Strike':'strike'
              , 'Bid':'bid', 'Ask':'ask', 'Mid':'mid'
              , 'Volume':'volume', 'OpenInterest':'open_interest'
              , 'T1OpenInterest': 't1_open_interest'
              , 'IVMean':'iv_mean'}

In [11]:
df_mysql.rename(columns=dct_rename, inplace=True)

In [12]:
df_mysql.columns

Index(['underlying_symbol', 'underlying_price', 'type', 'expiration',
       'data_date', 'strike', 'bid', 'ask', 'mid', 'volume', 'open_interest',
       't1_open_interest', 'iv_mean'],
      dtype='object')

In [13]:
import datetime as dt

In [15]:
dt_test = dt.datetime(2018, 3, 22)

In [16]:
print(dt_test)

2018-03-22 00:00:00

In [17]:
dt_test.date()

datetime.date(2018, 3, 22)

In [18]:
("Here is the date: {}").format(dt_test.date())

'Here is the date: 2018-03-22'

In [19]:
dt.date("2019-03-22")

TypeError: an integer is required (got type str)

In [20]:
from datetime import datetime
from dateutil.parser import parse
import pandas as pd

In [21]:
war_start = '2011-01-03'

In [23]:
datetime.strptime(war_start, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [24]:
attack_dates = ['7/2/2011', '8/6/2012', '11/13/2013', '5/26/2011', '5/2/2001']

In [26]:
[datetime.strptime(x, '%m/%d/%Y') for x in attack_dates]

[datetime.datetime(2011, 7, 2, 0, 0),
 datetime.datetime(2012, 8, 6, 0, 0),
 datetime.datetime(2013, 11, 13, 0, 0),
 datetime.datetime(2011, 5, 26, 0, 0),
 datetime.datetime(2001, 5, 2, 0, 0)]

In [27]:
parse(war_start)

datetime.datetime(2011, 1, 3, 0, 0)

In [28]:
[parse(x) for x in attack_dates]

[datetime.datetime(2011, 7, 2, 0, 0),
 datetime.datetime(2012, 8, 6, 0, 0),
 datetime.datetime(2013, 11, 13, 0, 0),
 datetime.datetime(2011, 5, 26, 0, 0),
 datetime.datetime(2001, 5, 2, 0, 0)]

In [29]:
parse(war_start, dayfirst=True)

datetime.datetime(2011, 3, 1, 0, 0)

In [30]:
data = {'date': ['2014-05-01 18:47:05.069722', '2014-05-01 18:47:05.119994', '2014-05-02 18:47:05.178768', '2014-05-02 18:47:05.230071', '2014-05-02 18:47:05.230071', '2014-05-02 18:47:05.280592', '2014-05-03 18:47:05.332662', '2014-05-03 18:47:05.385109', '2014-05-04 18:47:05.436523', '2014-05-04 18:47:05.486877'], 
        'value': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
df = pd.DataFrame(data, columns = ['date', 'value'])
print(df)

                         date  value
0  2014-05-01 18:47:05.069722      1
1  2014-05-01 18:47:05.119994      1
2  2014-05-02 18:47:05.178768      1
3  2014-05-02 18:47:05.230071      1
4  2014-05-02 18:47:05.230071      1
5  2014-05-02 18:47:05.280592      1
6  2014-05-03 18:47:05.332662      1
7  2014-05-03 18:47:05.385109      1
8  2014-05-04 18:47:05.436523      1
9  2014-05-04 18:47:05.486877      1

In [32]:
pd.to_datetime(df['date'])

0   2014-05-01 18:47:05.069722
1   2014-05-01 18:47:05.119994
2   2014-05-02 18:47:05.178768
3   2014-05-02 18:47:05.230071
4   2014-05-02 18:47:05.230071
5   2014-05-02 18:47:05.280592
6   2014-05-03 18:47:05.332662
7   2014-05-03 18:47:05.385109
8   2014-05-04 18:47:05.436523
9   2014-05-04 18:47:05.486877
Name: date, dtype: datetime64[ns]

In [33]:
print("Hello {}".format("World"))

Hello World

In [36]:
"""
SELECT * 
FROM delta_neutral.option_price 
WHERE UnderlyingSymbol='{}'
AND DataDate='{}';"
""".format('SPY', '2019-03-22')

'\nSELECT * \nFROM delta_neutral.option_price \nWHERE UnderlyingSymbol=\'SPY\'\nAND DataDate=\'2019-03-22\';"\n'

TypeError: expected bytes-like object, not str