# Demonstrating `backtest_py`

The package `backtest_py` consists of functions that grab data from my options data base.

There is are a variety of ways that we can get this functionality into this notebook.

### Copy/Paste

Since we can define functions in a code cell, we could simply copy the contents of `option_func.py` into a cell.

In [ ]:
##> copy paste here

In [ ]:
df_spy = option_underlying('2019-03-22', 'SPY')
df_spy.head()

In [ ]:
df_spy.shape

### Run `option_func.py`

In [1]:
%run backtest_py/option_func.py

In [2]:
df_spy = option_underlying('2019-03-22', 'SPY')
df_spy.head()

,underlying_symbol,underlying_price,type,expiration,data_date,strike,bid,ask,mid,volume,open_interest,t1_open_interest,iv_mean
0,SPY,279.34,call,2019-03-22,2019-03-22,215.0,63.13,66.17,64.650,0,0,0,0.3
1,SPY,279.34,put,2019-03-22,2019-03-22,215.0,0.00,0.01,0.005,0,0,0,0.3
2,SPY,279.34,call,2019-03-22,2019-03-22,220.0,58.13,61.17,59.650,0,0,0,0.3
3,SPY,279.34,put,2019-03-22,2019-03-22,220.0,0.00,0.01,0.005,0,0,0,0.3
4,SPY,279.34,call,2019-03-22,2019-03-22,225.0,53.13,56.17,54.650,0,0,0,0.3

In [3]:
df_spy.shape

(6584, 13)